<h1>友達を探す</h1>
<%= link_to "ホーム画面に戻る", :root %>
<%= form_tag(user_get_path, :method => 'get') do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<% if current_user.following? @user %>
  <h2> <%= @user.name %>のフォローを解除しますか</h2>
  <%= link_to "はい", user_create_follow_path(id: @user.id, follow: 'unfollow'), method: :post%>
<% else %>
  <h2> <%= @user.name %>をフォローしますか</h2>
  <%= link_to "はい", user_create_follow_path(id: @user.id, follow: 'follow'), method: :post %>
<% end %>
<%= link_to "いいえ", :back %>
